[user]
    email = errkk@hey.com
    name = Eric George
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    log = true
[core]
    editor = 'nvim'
    excludesfile = /Users/ericgeorge/.gitignore_global
    pager = delta --plus-color="#012800" --minus-color="#340001" --theme='TwoDark'
    attributesfile = /Users/ericgeorge/.gitattributes
[push]
    default = simple
[alias]
    g = grep --break --heading --line-number
    up = pull --rebase --autostash
[interactive]
    diffFilter = delta --color-only --theme='TwoDark'
[pull]
    rebase = true
